<form action="/" method="post">
  <div class="input-group">
    <input type="text" class="form-control" name="searchText"  placeholder="Search">
    <div class="input-group-btn">
      <button class="btn btn-primary" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
</form>
